<div class="search">
  <%= render "shared/search_bar" %>
</div>

<div id="map-container">
  <div id="map-canvas"></div>
</div>
<ul class="places-list">
  <% @places.each do |place| %>
    <li class="place-item">
      <%= image_tag(place.image, class: "place-image") %>
      <h2>
        <%= link_to place.name, place_path(place) %>
      </h2>
      <span class="address">
        <%= place.address %>
        <%= place.city %>,
        <%= place.state %>
        <%= place.zip %>
      </span>
      <br>
      <span class="category">
        <%= place.category %>
      </span>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  var coordinates = <%= @coordinates.to_json.html_safe %>
  var placeLocation = <%= @places.to_json.html_safe %>
</script>
